body{font-family: 'Poppins', sans-serif;
margin: 50px;}

.top-bannar{background-image: url(Image4/donation5.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height:720px;
    background-color: rgb(36, 231, 231);}
       
    .Half-width{width:60%;
        margin-left:20%;margin-right:20% ;
    padding:10px 40px ;
    text-align: center ;
font-size:30px; color:aliceblue;}

.A{text-decoration: none;
    color:white;
    background-color: rgb(226, 55, 69);
    padding: 10px 40px;
    border-radius: 10%;
    box-shadow:10px 15px 20px rgb(221, 102, 22) ;}

    
    






section{display: flex;}


